/*@import "./global/vars.postcss";*/
/*@import "./global/on-colors.postcss";*/
@import "./global/layout.postcss";
/*@import "./global/text.postcss";*/

[data-theme="hkdev"] {
  /*  @mixin all_vars;*/
  /*  @mixin all_on_colors;*/
    @mixin all_layout;
  /*  @mixin all_text;*/
}
