@define-mixin component-button-icon-steeze {

  /* @note using CSS vars defined in the parent button postcss */

  /* Type-based styling for text buttons */
  [data-component="button"][data-type="icon-steeze"] {

    /*&[data-size="sm"] {
      @apply px-8ut py-8ut;
    }

    &[data-size="md"] {
      @apply px-16ut py-12ut;
    }

    &[data-size="lg"] {
      @apply px-32ut py-16ut;
    }*/

  }

}
