@define-mixin component-button {

  [data-component="button"][data-variant="default"] {

    /* @apply border-8 border-green-500; */

    /* not disabled */
    /*&:not([disabled]) {
      &[data-role="primary"] {
      }
      &[data-role="secondary"] {
      }
    }*/

    /* disabled */
    /*&[disabled] {
      &[data-role="primary"] {
      }
      &[data-role="secondary"] {
      }
    }*/
  }
}
